@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 3.5rem;
  font-weight: normal;
  max-width: 70%;
  min-width: 70%;
  gap: 20px;
  background: white;
  border-radius: 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);

  @media (max-width: 1024px) {
    padding: 1.5rem;
    max-width: 90%;
    min-width: 90%;
    background: linear-gradient(270deg, #d0bfff, #b8c0ff, #f3c4fb, #d0bfff);
    background-size: 400% 400%;
    animation: gradientMove 40s ease-in-out infinite;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
