@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1.5rem 3.5rem;
  font-weight: normal;
  max-width: 80%;
  min-width: 80%;
  gap: 20px;
  background: white;
  border-radius: 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  height: fit-content;

  @media (max-width: 1024px) {
    padding: 1.5rem;
    max-width: 90%;
    min-width: 90%;

    &:before {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('./image/head-ai.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.09;
      z-index: 0;
    }
  }

  @media (min-width: 1221px) {
    max-width: 964px;
    min-width: 964px;
  }
}
